@import url(../variables/color.css);

.banner{
    width: 100%;
    padding: 10px;
    background-color: rgb(237, 233, 228);
}

/* Common styles for the responsive container */
.banner-container {
    display: flex;
    flex-direction: row;
    gap: 16px; /* Equivalent to `gap-4` */
    align-items: center;
    justify-content: center;
    padding: 16px;
    box-sizing: border-box;
}

/* Ensure the image and content take up even space */
.banner-container img {
    max-width: 350px;
    height: auto;
    flex: 1 1 auto;
}

.banner-container .content {
    flex: 1 1 auto;
    text-align: center;
}

.banner-container .content h1{
    font-family: "Pacifico";
    font-size: 36px;
    color: #E47277;
}

.banner-container .content p{
    color: #7a7a7a;
    font-size: 14px;
}

.banner .divider{
    height: 108px;
}

@media (min-width: 760px) {
    .banner .divider{
        height: 108px;
    }
}

/* banner design adjustments */
@media (max-width: 768px) {
    .banner-container {
        flex-direction: column;
        gap: 8px; /* Reduce gap for smaller screens */
    }

    .banner-container img {
        width: 100%; /* Ensure image takes full width on smaller screens */
    }
}
