<div class="banner">
    <div class="container">
        <div class="banner-container">
            <%= image_tag('cake1.png') %>
            <div class="content">
                <h1>Artisan Delights</h1>
                <p>Crafted with Love, Served with Joy</p>
                <button class="btn btn-primary mt-1">See More</button>
            </div>
        </div>
    </div>
    <div class="divider"></div>
</div>
