<div class="link-card">
    <div class="link-box">
        <div class="box">
            <%= image_tag('cake-icon1.png') %>
            <h1>Products</h1>
        </div>
        <div class="box">
            <%= image_tag('cake-icon2.png') %>
            <h1>Recipes</h1>
        </div>
        <div class="box">
            <%= image_tag('cake-icon3.png') %>
            <h1>Cake Class</h1>
        </div>
    </div>
</div>